page-home {
   .bordered{
        border: 1px solid ;
        border-collapse: collapse;
        text-align: center;
      
      }
    .table-container {
        height: 100%;
        width: 100%;
    }
      virtual-scroller {
        width: 100%;
        height: 100%;
      }

    .grid {
        width: 100%;
        height: 100%;
    }

    .header.row {
        margin-bottom: 15px;
        margin-top: 41px;
    }
}
